html, body {
    font-size: 16px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header {
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 99;
background-color: #2E3192;
}
.header_container {
    width: 95%;
    margin: .5em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_container > h2 {
    font-size: 2em;
    color: white;
    text-transform: capitalize;
}
.nav {
    display: flex;
    justify-content: space-between;
    color: white;
}
a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    margin: .5em;
}
a:hover {
    color: black;
}
.main {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 2em;
    /* background-color: #2E3192; */
}
.main > img {
    
    max-width: 100%;
}
.footer {
    position: fixed;
    top: 150;
    right: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer > img {
    width: 2em;
    height: 2em;
    margin-top: 1em;
}